<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.shinkotera.uki</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/Uki.app/Contents/MacOS/Uki</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>__HOME__/.uki/uki.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>__HOME__/.uki/uki.stderr.log</string>
</dict>
</plist>
